@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./syntax.scss";

@include media-breakpoint-down(sm) {
  html {
    font-size: 0.9rem;
  }
}

header,
.jumbo {
  background-color: $hl2-color;
}

.article {
  font-family: "Playfair Display", serif !important;

  .img-cover {
    height: 300px;
    overflow: hidden;
  }
}

.doc-content {
  h2,
  h3 {
    @extend .py-4;
  }
}

.form-group.required label:after {
  content: "*";
  color: red;
}

.note {
  @extend .shadow-sm, .rounded, .p-3, .border;
  border-left-width: 3px !important;

  &.info {
    border-left-color: $info !important;
  }

  &.warning {
    border-left-color: $warning !important;
  }

  & p:last-child {
    @extend .mb-0;
  }
}
