@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@include media-breakpoint-down(sm) {
  html {
    font-size: 0.9rem;
  }
}

.article {
  font-family: "Playfair Display", serif !important;

  .cover-img {
    height: 300px;
    overflow: hidden;
  }
}

.form-group.required label:after {
  content: "*";
  color: red;
}

footer {
  background-color: #20232a;
}
