{{ define "main" }}
<div class="article container my-5">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>

      <div class="d-flex align-items-center mt-4">
        <div class="mr-3">
          {{ $author := .Params.Author }}
          <img
            class="border rounded-circle"
            width="70"
            src="https://www.gravatar.com/avatar/{{ md5 (index $.Site.Data.authors $author).email }}?s=100"
          />
        </div>
        <div>
          {{ .Date.Format "January 02, 2006" }} <br />
          ☕ {{ .ReadingTime }} min read
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="cover-img">
        {{ with .Resources.GetMatch "images/cover.jpg" }}
          <img class="fluid" src="{{ .Permalink }}" />
        {{ end }}
      </div>
    </div>

    <div class="col-12 mt-4">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
