{{ define "main" }}
{{ $author := .Params.Author }}

<div class="article container my-5">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>

      <div class="media mt-4">
        <img
          class="border rounded-circle mr-3"
          width="70"
          src="https://www.gravatar.com/avatar/{{ md5 (index $.Site.Data.authors $author).email }}?s=100"
        />
        <div class="media-body align-self-center">
          <h5 class="my-0">{{ .Date.Format "January 02, 2006" }}</h5>
          ☕ {{ .ReadingTime }} min read
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="cover-img">
        {{ with .Resources.GetMatch "images/cover.jpg" }}
        <img class="img-fluid" src="{{ .Permalink }}" />
        {{ end }}
      </div>
    </div>

    <div class="col-12 mt-4">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
