<ul class="list-unstyled">
  {{ range . }}
  {{ $author := .Params.Author }}

  <li class="media border p-2 mb-2 rounded shadow-sm">
    {{ with .Resources.GetMatch "images/thumbnail.jpg" }}
    <img class="align-self-center mr-3" src="{{ .Permalink }}" />
    {{ end }}
    <div class="media-body align-self-center">
      <a href="{{ .Permalink }}" class="h5 mt-0 mb-1">{{ .Title }}</a>
      <div>
        {{ (index .Site.Data.authors $author).fullName }}
        <br />
        {{ .Date.Format "January 02, 2006" }} &middot; ☕ {{ .ReadingTime }} min
        read
      </div>
    </div>
  </li>
  {{ end}}
</ul>
