{{ define "main" }}
<div class="container-fluid bg-light border-bottom py-5">
  <div class="container">
    <h1 class="display-4">Build amazing IoT projects with hl2 technologies</h1>
    <a class="btn btn-primary btn-lg my-4" href="/docs" role="button">
      Getting Started <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</div>

<div class="container my-5">
  <h2 class="font-weight-light">
    Simplify the development and integration of IoT LPWAN devices with our
    end-to-end technologies! The available documentation is listed below.
  </h2>

  {{ $docs := (index (where .Site.Sections "Type" "_default") 0).Sections }}
  {{ partial "doc-list" $docs}}
</div>

<div class="container my-5">
  <h2 class="font-weight-light">Recent Posts</h2>

  <div class="mt-5">
    {{ $blogPosts := (where .Site.RegularPages "Section" "blog") }}
    {{ partial "post-list" (first 5 $blogPosts) }}
  </div>
</div>
{{ end }}
